<aura-navbar 
  [storeName]="storeConfig.name"
  [announcementText]="storeConfig.announcement"
  [announcementLinkText]="storeConfig.announcementLink"
  [links]="storeConfig.menu"
  [cartItemCount]="cartItems().length"
  [containerClass]="'max-w-[1700px] mx-auto px-8 lg:px-[80px]'"
  (cartClick)="openCart()">
</aura-navbar>

<aura-cart-drawer
  [isOpen]="isCartOpen()"
  [items]="cartItems()"
  (closeCart)="closeCart()"
  (remove)="removeItem($event)"
  (checkout)="goToCheckout()">
</aura-cart-drawer>